<!--
Overrides the theme's default sidebar footer. Keeps the just-the-docs
attribution, since the theme is third-party MIT-licensed code, and adds the
project's own licence and repository links.
-->
<p class="text-small text-grey-dk-100 mb-0">
  <a href="https://github.com/microsoft/ghc-cli-dashboard">Source on GitHub</a>
  &middot;
  <a href="https://github.com/microsoft/ghc-cli-dashboard/blob/main/LICENSE.txt">MIT License</a>
</p>
<p class="text-small text-grey-dk-000 mb-0">
  Built with <a href="https://just-the-docs.com">Just the Docs</a>.
</p>
